body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c6e1f1;
    color: #94ddf3;
}

header {
    background: #c3d1e9;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#hero-image {
    height: 620px;
    width: 100%;
    background: url('assets/image/mental-health-image.jpg') no-repeat  center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#cover-text {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background to the text */
    padding: 20px;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.small-img {
    max-width: 50%; /* Adjust this value to make the image smaller */
    height: auto;
}



nav {
    margin: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background: #efeaea;
}

nav a:hover {
    background: #d7eaf6;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #c3d1e9;
    text-align: left;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
card {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;

}
